/* src/index.css */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #e42a2a;
  --secondary-color: #222;
  --tertiary-color: #333;
  --quaternary-color: #444;
  --quinary-color: #555;
}

body {
 
  background-color: var(--primary-color);
  background-image: url('https://wallpapercave.com/wp/wp10209280.jpg'); 
  background-size: cover;
  background-position: center;
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}